*{
    margin: 0;
    padding: 0;
}
.kanan-input{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.kanan-input input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}
.bungkus-input textarea{
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.pilih{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.kartu-upload{
    margin-top: 4rem;
    width: 100%;
    height: 200px;
    background-color: rgb(228, 228, 228);
    border: 1px dashed black;
}
.kartu-upload input{
    font-size: 13px;
    margin-left: 1rem;
}